.table {
  width: 100%;
}

.table-item {
  display: flex;
  padding: 16px;
  border: #dadada 1px solid;
  border-bottom: none;
  cursor: pointer;
}

.table-item span {
  width: 200px;
}

.title {
  font-weight: 700;
}

.table-item:last-child {
  border: #dadada 1px solid;
}
